<div class="middle-container">
  <div class="middle-container__container-media">
    <img src="../../../assets/facebook.png" alt="Facebook">
    <img src="../../../assets/twitter.png" alt="Twitter">
    <img src="../../../assets/instagram.png" alt="Instagram">
  </div>

  <div class="middle-container__about">
    <p>From its medieval origins to the digital era, learn everything there is to know about the ubiquitous lorem ipsum
      passage.
    </p>
  </div>

  <div class="middle-container__container-size">
    <div class="middle-container__container-size__size">
      US 7.5
      <img src="../../../assets/down-arrow.png" alt="Down Arrow" height="10px">
    </div>
    <div class="middle-container__container-size__text">Size chart</div>
  </div>

</div>
