<div class="container-rating">
  <div class="container-rating__title">Men's Shoes</div>
  <div class="container-rating__container-star">
    <div class="container-rating__container-star__reviews">145 reviews</div>
    <div class="container-rating__container-star__star"></div>
    <div class="container-rating__container-star__star"></div>
    <div class="container-rating__container-star__star"></div>
    <div class="container-rating__container-star__star"></div>
    <div class="container-rating__container-star__star grey"></div>
  </div>
</div>
