<div class="container-all">
  <div class="container-all__container-preview">
    <img class="container-preview__container-preview-1__img-1" src="../../../assets/nike-run-shoes-shdw.png"
      alt="Nike Run" height="80px">
  </div>
  <div class="container-all__container-preview">
    <img class="container-preview__container-preview-1__img-1" src="../../../assets/nike-run-shoes-shdw.png"
      alt="Nike Run" height="80px">
  </div>
  <div class="container-all__container-preview">
    <img class="container-preview__container-preview-1__img-1" src="../../../assets/nike-run-shoes-shdw.png"
      alt="Nike Run" height="80px">
  </div>
</div>
