:host {
  display         : flex;
  justify-content : center;
  align-items     : flex-start;
  background-color: #bdff42;
  width           : 6%;
  z-index         : 1;
}

img {
  position: relative;
  top     : 20px;
}
