// Colors
$color-white    : #fff;
$color-black    : #000;
$color-grey     : #777;
$color-blacker  : rgba(39, 38, 38, 0.61);
$color-blacker-2: rgba(104, 104, 104, 0.61);
$color-whiter   : #ffffffd3;
$color-whiter-2 : #ffffff77;

//Default Font-size
$default-font-size: 1.6rem;

//Border Radius Values
$border-radius-small : 0.3rem;
$border-radius-madium: 1.5rem;
$border-radius-big   : 3rem;

//Margin Bottons

$u-margin-bottom-small : 0.3rem;
$u-margin-bottom-medium: 1.5rem;
$u-margin-bottom-big   : 3rem;
